@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "League Spartan", sans-serif !important;
}

.custom-input {
  background-color: white;
  color: black;
  outline: none;
  border-color: gray;
  padding-left: 10px;
  padding-right: 10px;
}
