@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "League Spartan", sans-serif !important;
}

.custom-input {
  background-color: white;
  color: black;
  outline: none;
  border-color: gray;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-textbox {
  background-color: white;
  color: black;

  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-div:hover {
  box-shadow: 10px 10px 15px rgba(45, 62, 80, 0.2);
}

.chat::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera */
}
